.container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.container .header { 
    height: 60px;
    background: #333;
    color: #fff;
}

.container .middle{
    position: absolute;
    width: 100%;
    overflow: hidden;
    left: 0;
    top: 60px;
    bottom: 0;
}

.middle .aside{
    position: absolute;
    width: 200px;
    height: 100%;
    background: #008c8c;
    overflow: auto;
    left: 0;
    top: 0;
}

.middle .main{
    position: absolute;
    padding: 20px;
    left: 200px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}